# Intorduction 

The content has movies and users who watched a movies and give a rating for movies.

*Content goal is recommend a movie by movies that users watched and rating.*

# Content 

* Importing libraries
* Load to data 
* Trying to understand data 
* Merge to data frames for columns that we will use
* Filtreing data, according to the rating of movies
* Convert the data frame with pivot table(index = users, columns = movies)
* Analyz the correlation bu random user
  * Item based system

# Importing libraries

In [2]:
import numpy as np
import pandas as pd

# Load to data

In [3]:
movies = pd.read_csv('movie.csv')
users_and_ratings = pd.read_csv('rating.csv')

# Trying to understand data

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

* We will use movieID column for this content

In [5]:
users_and_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  object
dtypes: float64(1), int64(2), object(1)
memory usage: 610.4+ MB

* We will use userID and rating column for this content

# Merge to data frames for columns that we will use

In [6]:
df = users_and_ratings.merge(movies , how = 'right' , on = 'movieId')

In [7]:
df.head()

,userId,movieId,rating,timestamp,title,genres
0,3.0,1,4.0,1999-12-11 13:36:47,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,6.0,1,5.0,1997-03-13 17:50:52,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,8.0,1,4.0,1996-06-05 13:37:51,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,10.0,1,4.0,1999-11-25 02:44:47,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,11.0,1,4.5,2009-01-02 01:13:41,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [8]:
df.title.value_counts().head()

Pulp Fiction (1994)                 67310
Forrest Gump (1994)                 66172
Shawshank Redemption, The (1994)    63366
Silence of the Lambs, The (1991)    63299
Jurassic Park (1993)                59715
Name: title, dtype: int64

# Filtreing data, according to the rating of movies

In [9]:
# Create a new data frame for number of ratings  
ratings_movies = pd.DataFrame(df['title'].value_counts())

In [10]:
ratings_movies

                                  title
Pulp Fiction (1994)               67310
Forrest Gump (1994)               66172
Shawshank Redemption, The (1994)  63366
Silence of the Lambs, The (1991)  63299
Jurassic Park (1993)              59715
...                                 ...
Ice Men (2004)                        1
Heartbeat (1938)                      1
Act of Aggression (1975)              1
The Open Road (1926)                  1
Brushfires (2004)                     1

[27262 rows x 1 columns]

In [31]:
# detecth the movies that has a less than 1000 ratings
rare_movies = ratings_movies[ratings_movies["title"] <= 30000].index

In [32]:
rare_movies.shape

(27199,)

In [33]:
# filtering data 
df_recommendation = df[~df['title'].isin(rare_movies)]

In [34]:
df_recommendation['title'].shape

(2582643,)

* Removing process succesfull

# Convert the data frame with pivot table(index = users, columns = movies)

In [37]:
df_users_movies = df_recommendation.pivot_table(index = df_recommendation['userId'] , 
                                                columns = df_recommendation['title'] , values = 'rating')

In [38]:
df_users_movies

title,Ace Ventura: Pet Detective (1994),Aladdin (1992),Alien (1979),American Beauty (1999),Apollo 13 (1995),Babe (1995),Back to the Future (1985),Batman (1989),Batman Forever (1995),Beauty and the Beast (1991),...,Star Wars: Episode VI - Return of the Jedi (1983),Stargate (1994),Terminator 2: Judgment Day (1991),"Terminator, The (1984)",Titanic (1997),Toy Story (1995),True Lies (1994),Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Twister (1996),"Usual Suspects, The (1995)"
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.5,4.0,NaN,NaN,NaN,3.5,NaN,3.5
2.0,NaN,NaN,5.0,3.0,NaN,NaN,5.0,NaN,NaN,NaN,...,5.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,5.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,5.0,5.0,4.0,5.0,4.0,4.0,NaN,4.0,NaN,5.0
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,3.0,1.0,NaN,NaN
5.0,NaN,5.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5.0,...,5.0,4.0,5.0,NaN,NaN,NaN,5.0,NaN,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138489.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5
138490.0,NaN,NaN,NaN,3.0,4.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
138491.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
138492.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138493.0,4.0,4.5,4.5,5.0,4.5,3.0,NaN,4.0,NaN,4.0,...,5.0,NaN,NaN,NaN,4.0,3.5,NaN,NaN,NaN,NaN

* As we can see we created dataframe for recommendation system.
* The user that we recommend the films
* We will analyz the movies that users watched after that we will analyz the other all users and analyz the correlation values.
* After that we will sort the the correlation values that we created and first 10 films we will recommend the user that we want to try to recommend movies for user

# Analyz the correlation with random user

In [288]:
# we picked a movie for ıtem based recommendation system
movie_name = 'Aladdin (1992)'
# we picked to users for user based recommendation system 
random_user = 5

## Item based system

In [289]:
movie_name = df_users_movies[movie_name]
movie_name

userId
1.0         NaN
2.0         NaN
3.0         NaN
4.0         NaN
5.0         5.0
           ...
138489.0    NaN
138490.0    NaN
138491.0    NaN
138492.0    NaN
138493.0    4.5
Name: Aladdin (1992), Length: 133387, dtype: float64

* As we can see for 'Aladdin' coloumns in df_users_movies dataframe

In [290]:
df_users_movies.corrwith(movie_name).head(10).sort_values(ascending = False)

title
Aladdin (1992)                       1.000000
Beauty and the Beast (1991)          0.580408
Back to the Future (1985)            0.328569
Babe (1995)                          0.265643
Apollo 13 (1995)                     0.261258
Batman Forever (1995)                0.232377
Batman (1989)                        0.225189
Ace Ventura: Pet Detective (1994)    0.196190
Alien (1979)                         0.131610
American Beauty (1999)               0.094880
dtype: float64

* The system is trying to find similarty for films 
* And our 10 recommendations

* We couldn't realize the user based system because the data has a lot of users and the computer CPU has no change these number of user.
* I will realize with colab at future.